Source: salt-formula-galera
Maintainer: tcpcloud Packaging Team <pkg-team@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9),
 salt-formula-mysql
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-galera
Vcs-Git: https://github.com/tcpcloud/salt-formula-galera.git

Package: salt-formula-galera
Architecture: all
Depends: ${misc:Depends}, salt-formula-mysql
Description: galera salt formula
 Install and configure galera system.
